body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vh;
    padding-left: 12%;
}
.box{
    width: 457px;
    height: 138px;
    position: relative;
    margin:4px;
}

.profile-pic{
    width: 150px;
    height: 150px;
    float:left;
    margin:10px;
}
.username{
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
}
.intro{
    font-size: 25px;
    font-weight:400;
    font-family: "Roboto";
    margin-top:14px;
}
.written{
    display:inline;
    position: absolute;
    align-items: center;
    margin-top: 30px;
}
.icon1{
    width: 20px;
    height:20px;
    margin-top: 24px;
    float:left;

}
.icon{
    display: inline-block;
    vertical-align: bottom;
}
.dig{
    display:inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 14px;
    margin-top: 24px;
    margin-right: 24px;
}

